body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:orangered;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
}

#game-space {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    cursor: crosshair;
}

.square {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.border-right {
    border-right: 0.5em solid black;
}

.border-bottom {
    border-bottom: 0.5em solid black;
}


button {

display: inline-block;
outline: none;
cursor: pointer;
font-weight: 600;
border-radius: 3px;
padding: 12px 24px;
border: 0;
color: #fff;
background: #000a47;
line-height: 1.15;
font-size: 16px;
}

button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #3c1de9;
}